.modalContainerEmail{
    display:flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    text-align: center;
    width: 420px;
    height: 300px;
    background-color: #252525;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    flex-direction: column;
    left: 35%;
    top: 23%;
}

.modalBackground{
   position: fixed;
   top: 0;
   left:0;
   bottom: 0;
   right: 0;
   background-color: rgba(0, 0, 0, 0.4);
}


.modalContainerEmail .title{


    width: 420px;
    height: 79px;

    display: flex;
    align-items: center;
    justify-content: center;

    background: #333333;
    border-radius: 8px 8px 0px 0px;

}

.modalContainerEmail .title .titulo{
    font-family: Poppins;
    font-style: normal;
    color: #D9D9D9;
    font-size: 36px;
    font-weight: 275;
}

.modalContainerEmail .body{

    display:flex;
    justify-content: left;
    align-items: left;
    font-size: 24px;
    text-align: center;
}


.labele{
    color: #D9D9D9;

    font-family: Poppins;
    font-style: normal;
    font-weight: 275;
    font-size: 24px;

    line-height: 40px;
    margin-top: 10px;
    margin-right:178px ;
    margin-bottom: 0px;
    justify-content: left;
    display: flex;

}

.inpute{
    width: 310px;
    height: 40px;
    margin-top: 5px;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 22px;

    color:  #999999;

    background: #333333;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}

.modalContainerEmail .footer{
    flex:10%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.modalContainerEmail .footer button{
    width: 140px;
    height: 35px;
    margin: 10px;
    border:none;
    background-color: #3700B3;
    color:#D9D9D9;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
    align-items: center;
}


#cancelButton{
    background-color: #904949;
}