.titulo {
  padding:0%;
  justify-content: space-between;
  align-items: center;
  color: #D9D9D9;
  left: 13%;
  top: 10%;
  width: 100%;
  padding: 1%;
  margin: 2%;
  /* position: absolute; */
  border-style: none;
}

.add {
  color: #775CB6;
  text-align: center;
  font-size: 60%;
}

.tabela {
  padding:2%;
  justify-content: center;
  left: 13%;
  top: 10%;
  width:80%;
  position: absolute;
  border-style: none;
}