@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

h1{
  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 54px;
  color: white;
}

label{
  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 54px;
  color: white;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  background-color: #3700B3 !important;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25) !important;
  border-radius: 8px !important;
  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 54px;
  color: white;
}
.App {
  background-color: #000;
  min-height: 100vh;
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}
.navbar {
  background: #333333;
  /* position: absolute;
  justify-content: center; */
  width: 10%;
  height: 100vh;
}
.xx {
  position: absolute;
  bottom: 0;
}
h1 {
  position: absolute;
  /* width: 292px; */
  /* height: 66px; */
  left: 152px;
  top: 30px;

  font-family: Poppins;
  font-style: normal;
  font-weight: 275;
  font-size: 48px;
  /* line-height: 72px; */
  padding-left: 40px;

  color: #D9D9D9;
}
